<div class="content">
  <div class="content-box">
    <div class="heading-container">
      <h1>Hi, I'm Fred Cliff.</h1>
    </div>
    <div class="blurb">
      <p>With an extensive background in the hospitality industry, I know a few things about efficiency and problem-solving. Now I’m reframing this understanding to move into the tech industry, and I study web development at Coder Academy, Brisbane to give me the skills to play the part.</p>
    </div>
  </div>
</div>
