<div class="content">
  <div class="content-box">
    <div class="heading-container">
      <h1>About Me</h1>
    </div>
    <div class="blurb">
      <p>I am currently studying web design and programming at Coder Academy in Brisbane.</p>
    </div>
  </div>
</div>
